# Logs
logs
*.log
ntuser.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.ini
*.lnk
*.dat
*.tgz
*.pid
*.seed
*.pid.lock

# Compiled binary
build/Release

# Dependency directories
node_modules/
jspm_packages/
nvvp_workspace/
getting-started/

# Optional cache directory
.npm
.eslintcache

# Optional history
.next
.bash_history
.python_history
.node_repl_history

# dotenv environment
.env
.aws/
.ssh/
.azure/
.conda/
.gnupg/
.keras/
.docker/
.eclipse/
.astropy/
.minttyrc
.gitconfig
.matplotlib/
.virtualenvs/

# Default directories
Music/
Links/
source/
Videos/
AppData/
Contacts/
OneDrive/
Searches/
Pictures/
Documents/
Downloads/
Favorites/
MicrosoftEdgeBackups/
